footer {
    background-color: #333;
    color: #fff;
    margin: 20px 0 0 0;
    padding: 1em 0 1em 0;
    width: 100%;
    bottom: 0;
    position: relative;
    color: #fff !important;
    justify-content: center;
}

/* .footer-top {
    padding-top: 40px;
}

.footer-middle {
    padding-top: 40px;
} */

.footer-bottom {
    text-align: center;
    padding: 20px 20px;
    color: aliceblue;
}
