* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

.left {
  background: rgb(77, 76, 76);
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

main {
  background: rgb(45, 45, 45);
  padding: 3em 0 3em 0;
  flex: 5 5 150px;

}

.right {
  background: rgb(77, 76, 76);
  padding: 3em 0 3em 0;
  flex: 1 1 100px;

}